#content {
    min-height: 1000px;
    background-color: rgb(185, 187, 255);
}
#footer {
    position: sticky;
    bottom: 0px;
    background-color: var(--bs-light);
}
#navbar {
    position: sticky;
    top: 0px;
    z-index: 1;
}
