<div class="container">
    <div class="col-10 card m-4" style="display:inline-block;">
        <div class="card-body">
            <h5 class="card-title p-title"></h5>
            <h6 class="card-subtitle mb-2 text-muted p-username"></h6>
            <p class="card-text p-body"></p>
            <div class="card-header">
                <b>Comments</b>
                <br>
                <ul class="comment-list"></ul>
            </div>
        </div>
    </div>
</div>
<script src="../app/comment.js"></script>