<div class="container">
    <h1 align='center'>Welcome to sign up page</h1>
    <br><br>
    <input type="text" name="name" id="name" placeholder="Enter your Name">
    <br><br>
    <input type="text" name="username" id="username" placeholder="Enter username">
    <br><br>
    <input type="email" name="email" id="email" placeholder="Enter your email id">
    <br><br>
    <input type="password" name="password" id="password" placeholder="Enter password">
    <br><br>
    

    <button class="btn btn-primary" id="btnSignup">Signup</button>
</div>
<script src="../app/signup.js"></script>